# Clave secreta de Flask (OBLIGATORIA en produccion)
# Generar una con: [guid]::NewGuid()
SECRET_KEY=

# Puerto del contenedor interno (no cambiar)
PORT=5000

# Entorno
FLASK_ENV=production

# Zona horaria
TZ=America/Argentina/Buenos_Aires
